a{
    text-decoration: none;
}
.footer-container{
    position: relative;
    background-color: #F5F9FF;
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0px;
    transition: all 0.5s ease;
}
.footer {
    position: relative;
    margin: 0 auto;
    max-width: 1500px;
    margin-bottom: -50px;
    padding: 1rem;
    background-color: #F5F9FF;
    color: #333;
    font-family: 'Urbanist';
    transition: all 0.5s ease;
}

/* Center the footer heading */
.footer-heading {
    position: relative;
    left: 100px;
    font-size: 2.4rem;
    margin-bottom: 5rem;
    font-weight: 550;
    text-align: left;
    transition: all 0.5s ease;
}

.footer-heading span{
    position: relative;
    font-weight: 600;
    transition: all 0.5s ease;
}

.footer-heading span {
    color: #0047AB;
}

/* Update the footer-content styles */
.footer-content {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20rem;
    transition: all 0.5s ease;
}

/* Update the footer-link-container styles */
.footer-content .footer-link-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 15rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.5s ease;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #0047AB;
}

.footer .newsletter {
    max-width: 400px;
    transition: all 0.5s ease;
}

.footer .newsletter p {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 450;
    color: #0D47A1;
    margin-bottom: 1rem;
    transition: all 0.5s ease;
}

.footer .email-input-container {
    display: flex;
    border: 1px solid #181818;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s ease;
    padding: 0.5rem;
}

.footer .email-input {
    flex: 1;
    border: none;
    width: 479px;
    height: 50px;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    background: transparent;
    transition: all 0.5s ease;
}

.footer .submit-btn {
    position: relative;
    top: 8px;
    background-color: #0047AB;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    text-align: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer .submit-btn:hover {
    background-color: #003380;
}

/* Center the social links */
.footer .social-links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    transition: all 0.5s ease;
}

/* Center the footer bottom content */
.footer .footer-bottom {
    position: relative;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #1F1F1F;
    transition: all 0.5s ease;
}

.footer .footer-bottom  .container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 30rem;
    max-width: 1200px;
    margin: 30px auto;
}

.footer .copyright {
    position: relative;
    top: 30px;
    left: -100px;
    color: #7C7C7C;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

.footer .office-location {
    position: relative;
    left: 130px;
    text-align: right; /* Changed to right alignment */
    color: #7C7C7C;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    max-width: 400px; /* Added max-width for better control */
}

.footer .office-location span {
    text-align: right; /* Changed to right alignment */
    color: #181818;
    display: block; /* Added to ensure span takes full width */
}

@media (max-width: 768px) {
    .footer {
        padding: 1.5rem;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer .newsletter {
        max-width: 100%;
    }

    .footer .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-links a {
        font-size: 1.1rem;
    }
}

/* 320px */
@media screen and (min-width: 320px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 0rem;
    }

    .footer-content .footer-link-container{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .footer-heading {
        position: relative;
        left: 0px;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer .newsletter {
        margin-top: 30px;
    }

    .footer .footer-bottom  .container{
        margin: 0 auto;
    }
    .footer .footer-bottom  .container{
        flex-direction: column;
        gap: 0;
    }
    .footer .copyright {
        top: 0;
        left: 0;
        text-align: center;
        margin-bottom: 30px;
        font-size: 0.9rem;
    }
    .footer .office-location {
        left: 0px;
        text-align: center;
        font-size: 0.9rem;
    }
    .footer .office-location span {
        text-align: center;
        font-size: 0.9rem;
    }
}
/* 375px */
@media screen and (min-width: 375px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 0rem;
    }

    .footer-content .footer-link-container{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .footer-heading {
        position: relative;
        left: 0px;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer .newsletter {
        margin-top: 30px;
    }

    .footer .footer-bottom  .container{
        margin: 0 auto;
    }
    .footer .footer-bottom  .container{
        flex-direction: column;
        gap: 0;
    }
    .footer .copyright {
        top: 0;
        left: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer .office-location {
        left: 0px;
        text-align: center;
    }
    .footer .office-location span {
        text-align: center;
    }
}
/* 425px */
@media screen and (min-width: 425px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 0rem;
    }

    .footer-content .footer-link-container{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .footer-heading {
        position: relative;
        left: 0px;
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer .newsletter {
        margin-top: 30px;
    }

    .footer .footer-bottom  .container{
        margin: 0 auto;
    }
    .footer .footer-bottom  .container{
        flex-direction: column;
        gap: 0;
    }
    .footer .copyright {
        top: 0;
        left: 0;
        text-align: center;
        margin-bottom: 30px;
        font-size: 1rem;
    }
    .footer .office-location {
        left: 0px;
        text-align: center;
        font-size: 1rem;
    }
    .footer .office-location span {
        text-align: center;
        font-size: 1rem;
    }
}
/* 768px */
@media screen and (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        text-align: left;
        gap: 0rem;
    }

    .footer-content .footer-link-container{
        flex-direction: row;
        text-align: left;
        gap: 2rem;
    }

    .footer-heading {
        position: relative;
        left: 0px;
        font-size: 2.4rem;
        text-align: left;
        margin-bottom: 2rem;
    }

    .footer .newsletter {
        margin-top: 30px;
    }
    
    .footer .email-input {
        flex: 1;
        border: none;
        width: 309px;
        height: 50px;
    }

    .footer .footer-bottom  .container{
        margin: 30px auto;
    }
    .footer .footer-bottom  .container{
        flex-direction: row;
        gap: 5rem;
    }
    .footer .copyright {
        top: 30px;
        left: 0;
        text-align: left;
        margin-bottom: 30px;
        font-size: 1rem;
    }
    .footer .office-location {
        left: 0px;
        text-align: right;
        font-size: 1.1rem;
    }
    .footer .office-location span {
        text-align: right;
        font-size: 1.1rem;
    }
}
/* 1024px */
@media screen and (min-width: 1024px) {
    .footer-content {
        flex-direction: row;
        text-align: left;
        gap: 10rem;
    }

    .footer-content .footer-link-container{
        flex-direction: row;
        text-align: left;
        gap: 5rem;
    }

    .footer-heading {
        position: relative;
        left: 40px;
        font-size: 2.4rem;
        text-align: left;
        margin-bottom: 2rem;
    }

    .footer .newsletter {
        margin-top: 30px;
    }
    
    .footer .email-input {
        flex: 1;
        border: none;
        width: 400px;
        height: 50px;
    }

    .footer .footer-bottom  .container{
        flex-direction: row;
        gap: 22rem;
    }
    .footer .copyright {
        text-align: left;
        margin-bottom: 30px;
        font-size: 1rem;
    }
    .footer .office-location {
        text-align: right;
        font-size: 1.1rem;
    }
    .footer .office-location span {
        text-align: right;
        font-size: 1.1rem;
    }
}
/* 1440px */
@media screen and (min-width: 1440px) {
    .footer-content {
        flex-direction: row;
        text-align: left;
        gap: 20rem;
    }

    .footer-content .footer-link-container{
        flex-direction: row;
        text-align: left;
        gap: 10rem;
    }

    .footer-heading {
        position: relative;
        left: 100px;
        font-size: 2.4rem;
        text-align: left;
        margin-bottom: 2rem;
    }
    
    .footer .email-input {
        flex: 1;
        border: none;
        width: 400px;
        height: 50px;
    }

    .footer .footer-bottom  .container{
        margin: 0 auto;
    }
    .footer .footer-bottom  .container{
        flex-direction: row;
        gap: 30rem;
    }
    .footer .copyright {
        left: -70px;
        text-align: left;
        margin-bottom: 30px;
        font-size: 1rem;
    }
    .footer .office-location {
        left: 130px;
        text-align: right;
        font-size: 1.1rem;
    }
    .footer .office-location span {
        text-align: right;
        font-size: 1.1rem;
    }
}