

.section-1{
    position: relative;
    transition: all 0.5s ease;
}
/*------------------ Hero Section ---------------------*/
.section-1 .hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 50px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    position: relative;
    transition: all 0.5s ease;
    z-index: 1; /* Bring the hero section above the video */
}

.section-1 .hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-left: 70px;
    gap: 10px;
    transition: all 0.5s ease;
   
}

.section-1 .hero-text {
    flex: 0 0 72%;
    font-size: 7.5em;
    margin: 0;
    text-transform: lowercase;
    line-height: 1.1; /* Adjust this value to control the gap */
    transition: all 0.5s ease;
    font-family: 'Urbanist';
   
}

.section-1 .hero-content p {
    margin-top: -10px;
    transition: all 0.5s ease;
}

.section-1 .hero-content p .word {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 1.5s ease-in-out; /* Slower opacity change */
    margin-left: 300px;
    transition: all 0.5s ease;
}


.section-1 .hero-paragraph p {
    font-family: 'Urbanist';
    font-size: 1.1em;
    line-height: 1.6;
    color: rgb(205, 192, 192);
    transition: all 0.5s ease;
}

.section-1 .thick-line {
    display: block;
    width: 75px;
    height: 7px;
    background-color: rgb(133, 11, 232);
    transition: all 0.5s ease;
}

.section-1 .thin-line {
    display: inline-block;
    width: 70px;
    height: 1px;
    background-color: rgb(133, 11, 232);
    margin-left: 10px;
    vertical-align: middle;
    transition: all 0.5s ease;
}

.section-1 .get-in-touch-button {
    background-color: rgb(149, 49, 231);
    color: #fff;
    padding: 15px 30px;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 70px;
    width: 100%;
    border: none;
    transition: background-color 0.3s;
    font-family: 'Urbanist';
}

.section-1 .get-in-touch-button:hover {
    background-color: rgba(172, 108, 225, 0.8);
}


/*------------------ Animated Text  ----------------------------*/
.word .letter {
    transform-origin: center center 25px;
    color: white;
    display: inline-block; /* Ensure letters are inline */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for both transform and opacity */
}

.word .letter.out {
    transform: rotateX(90deg);
    opacity: 0;
    transition: all 0.5s ease;
}

.word .letter.in {
    transform: rotateX(2);
    opacity: 1;
    transition: all 0.5s ease;
}

.colored-letter {
    color: rgb(133, 11, 232); /* Color for 'D' in develop and 'P' in progress */
    transition: all 0.5s ease;
}

.hero-content p .word .colored-letter {
    transition: all 0.5s ease;
    color: rgb(133, 11, 232); /* Specific color for 'D' in develop and 'P' in progress */
}

.w-2:hover {
    cursor: pointer;
    transition: all 0.5s ease; /* Smooth hover transition */
}

/* 320px */
@media screen and (min-width: 320px){
    .section-1 .hero-content {
        display: block;
        padding-left: 0;
        margin-top: 100px;
    }
    .section-1 .hero-text {
        position: relative;
        right: 35px;
        font-size: 4rem;
    }
    .section-1 .hero-content p .word{
        margin-top: 8px;
        margin-left: 0;
    }
    .section-1 .hero-paragraph{
        position: relative;
        right: 35px;
        margin-top: 100px;
    }
    .section-1 .hero-paragraph p{
        position: relative;
        width: 300px;
    }
    .section-1 .get-in-touch-button{
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 15px;
        width: 100%;
    }
}
/* 375px */
@media screen and (min-width: 375px){
    .section-1 .hero-content {
        display: block;
        padding-left: 0;
    }
    .section-1 .hero-text {
        position: relative;
        right: 35px;
        font-size: 4.5rem;
    }
    .section-1 .hero-paragraph p{
        position: relative;
        width: 350px;
    }
}
/* 425px */
@media screen and (min-width: 425px){
    .section-1 .hero-content {
        display: block;
        padding-left: 0;
    }
    .section-1 .hero-text {
        position: relative;
        right: 35px;
        font-size: 5rem;
    }
    .section-1 .hero-paragraph{
        position: relative;
        right: 35px;
        margin-top: 120px;
    }
    .section-1 .get-in-touch-button{
        padding: 15px 30px;
        font-size: 1.4rem;
        margin-top: 15px;
        width: 100%;
    }
}
/* 768px */
@media screen and (min-width: 768px){
    .section-1 .hero-content {
        display: flex;
        padding-left: 0px;
        margin-top: 0;
    }
    .section-1 .hero-text {
        position: relative;
        right: 35px;
        font-size: 4.5rem;
    }
    .section-1 .hero-content p .word{
        margin-top: 20px;
        margin-left: 50px;
    }
    .section-1 .hero-paragraph{
        position: relative;
        right: 35px;
        margin-top: 100px;
    }
    .section-1 .hero-paragraph p{
        position: relative;
        width: 300px;
    }
    .section-1 .get-in-touch-button{
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 15px;
        width: 100%;
    }
}
/* 1024px */
@media screen and (min-width: 1024px){
    .section-1 .hero-content {
        position: relative;
        display: flex;
    }
    .section-1 .hero-text {
        position: relative;
        left: 50px;
        font-size: 6rem;
    }
    .section-1 .hero-content p .word{
        margin-top: 20px;
        margin-left: 120px;
    }
    .section-1 .hero-paragraph{
        position: relative;
        right: 50px;
        margin-top: 100px;
    }
    .section-1 .hero-paragraph p{
        position: relative;
        width: 300px;
    }
    .section-1 .get-in-touch-button{
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 15px;
        width: 70%;
    }
}
/* 1440px */
@media screen and (min-width: 1440px){
    .section-1 .hero-text {
        position: relative;
        left: 200px;
        font-size: 7.5rem;
    }
    .section-1 .hero-content p .word{
        margin-top: 10px;
        margin-left: 250px;
    }
    .section-1 .hero-paragraph{
        position: relative;
        right: 35px;
        margin-top: 100px;
    }
    .section-1 .hero-paragraph p{
        position: relative;
        width: 400px;
    }
    .section-1 .get-in-touch-button{
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-top: 15px;
        width: 70%;
    }
}

/*----------------- Card Section Styles ----------------------*/
/* Base styles */
.section-1 .cards-section {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    justify-content: center;
    padding: 20px 0;
}

.section-1 .card {
    color: white;
    overflow: hidden;
    margin: 10px;
    transition: transform 0.3s;
    background-size: cover;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%; /* Reduce the width */
    min-height: 300px; /* Set a minimum height */
    max-width: 320px; /* Optional: limit maximum width */
}

.section-1 .card:hover {
    transform: scale(1.05);
}

.section-1 .card .card-header {
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    opacity: 1;
    font-family: 'Urbanist';
}

.section-1 .card .card-description {
    font-size: 20rem;
    font-weight: 200;
    margin-top: 30px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 1;
    font-family: 'Urbanist';
}

.section-1 .card a {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    font-size: 16px;
    font-family: 'Urbanist';
}

.section-1 .see-more-link {
    position: relative;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Urbanist';
}

.section-1 .see-more-link  img {
    position: relative;
    top: 3px;
}

.section-1 .new-content {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    transition: right 0.4s ease, opacity 0.3s ease;
    opacity: 0;
    text-align: left;
    left: 10px;
    right: 10px;
    padding: 10px;
    margin-top: 20px;
}

.section-1 .card:hover .new-content {
    right: 20px;
    opacity: 1;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Urbanist';
}

.section-1 .card:hover .card-description {
    font-size: 1.5rem;
    transform: translateY(-10px);
    font-family: 'Urbanist';
}

.section-1 .card:hover .card-header,
.section-1 .card:hover .see-more-link {
    opacity: 1;
    transform: none;
}

/* Media Queries for Responsiveness */

/* Small screens (320px and up) */
@media screen and (min-width: 320px) {
    .section-1 .card {
        margin: 10px 0;
        height: 411px;
        left: 1px;
    }

    .section-1 .card .card-description {
        margin-top: 50px;
        font-size: 3rem;
        font-family: 'Urbanist';
    }
    
    .section-1 .new-content {
        font-size: 1.2rem;
        font-family: 'Urbanist';
    }
}
/* 375px */
@media screen and (min-width: 375px){
    .section-1 .card{
        left: 0;
    }
    .section-1 .new-content {
        font-size: 1.5rem;
        font-family: 'Urbanist';
    }
}

/* Medium screens (768px and up) */
@media screen and (min-width: 768px) {
    .section-1 .card {
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
        width: 60%; /* Adjust width for larger screens */
        min-height: 350px; /* Adjust height for larger screens */
    }
    
    .section-1 .card .card-description {
        font-size: 3.5rem;
        font-family: 'Urbanist';
    }
    
    .section-1 .new-content {
        font-size: 1rem;
        font-family: 'Urbanist';
    }
}

/* Large screens (1024px and up) */
@media screen and (min-width: 1024px) {
    .section-1 .card {
        flex: 0 0 calc(33.33% - 20px);
        width: 40%; /* Further adjust for wide screens */
        min-height: 400px;
    }
    
    .section-1 .card .card-description {
        font-size: 3rem;
        font-family: 'Urbanist';
    }
}

/* Extra large screens (1440px and up) */
@media screen and (min-width: 1440px) {
    .section-1 .card {
        flex: 0 0 calc(27% - 20px);
        height: 400px;
    }
    
    .section-1 .card .card-description {
        font-size: 3.5rem;
        font-family: 'Urbanist';
    }
}

/* Media Queries for Responsiveness */
/* @media (max-width: 768px) {
    .section-1 .cards-section {
        flex-direction: column;
        align-items: center;
    }

    .section-1 .card {
        flex: 0 0 calc(90% - 20px);
        margin: 10px 0;
        height: auto;
    }
} */


/* 320px */
/* @media screen and (min-width: 320px){
    .section-1 .card {
        width: 250px;
        height: 900px;
    }
} */
