
.section-6 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: all 0.5s ease;
}

.section-6 .container {
    padding: 20px;
    transition: all 0.5s ease;
}

.section-6 h1 {
    font-size: 4em;
    line-height: 1.4;
    color: #000;
    transition: all 0.5s ease;
}
.section-6 h1 span{
    color: #0D47A1;
    transition: all 0.5s ease;
}

.section-6 .blue {
    color: #1a73e8;
    transition: all 0.5s ease;
}

.section-6 .contact-btn {
    position: relative;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width: 230px;
    padding: 15px;
    display: inline-block;
    background-color: #0D47A1;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 1.3em;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.section-6 .contact-btn:hover {
    background-color: #155bb5;
}

.section-6 .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.section-6 .icon {
    position: relative;
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
}
.section-6 .icon:hover{
    transform: translateY(-5px);
    transition: all 0.5s ease;
}

.section-6 .icon-1{
    margin-top: -70px;
    width: 150px;
    height: 150px;
}
.section-6 .icon-2{
    margin-top: 100px;
    margin-left: -80px;
    width: 150px;
    height: 150px;
}
.section-6 .icon-4{
    margin-top: 100px;
    width: 150px;
    height: 150px;
}
.section-6 .icon-6{
    margin-top: 100px;
    width: 100px;
    height: 100px;
}
.section-6 .icon-7{
    margin-top: -80px;
    width: 150px;
    height: 150px;
}


/* 320px */
@media screen and (min-width: 320px) {
    .section-6 {
        margin-bottom: 30px;
    }

    .section-6 h1 {
        font-size: 1.7em;
    }
    .section-6 .contact-btn {
        margin-top: 170px;
    }

    .section-6 .icon-1{
        margin-top: -260px;
        left: -40px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: 0px;
        left: -80px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: -150px;
        left: 20px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -380px;
        left: 110px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -270px;
        left: -100px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -70px;
        left: 70px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -170px;
        left: 20px;
        width: 130px;
        height: 130px;
    }
}
/* 350px */
@media screen and (min-width: 350px) {
    .section-6 {
        margin-bottom: 30px;
    }

    .section-6 h1 {
        font-size: 2em;
    }
    .section-6 .contact-btn {
        margin-top: 170px;
    }

    .section-6 .icon-1{
        margin-top: -260px;
        left: -70px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: 0px;
        left: -120px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: -150px;
        left: 50px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -380px;
        left: 150px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -270px;
        left: -50px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -100px;
        left: -10px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -170px;
        left: 0px;
        width: 130px;
        height: 130px;
    }
}
/* 415px */
@media screen and (min-width: 415px) {
    .section-6 {
        margin-bottom: 60px;
    }

    .section-6 h1 {
        font-size: 2.3em;
    }
    .section-6 .contact-btn {
        margin-top: 100px;
    }

    .section-6 .icon-1{
        margin-top: -210px;
        left: -30px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: 0px;
        left: -50px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: -150px;
        left: -30px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -200px;
        left: 0px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -180px;
        left: -30px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -100px;
        left: 50px;
        width: 120px;
        height: 120px;
    }
    .section-6 .icon-7{
        margin-top: -180px;
        left: 38px;
        width: 130px;
        height: 130px;
    }
}
/* 500px */
@media screen and (min-width: 500px){
    .section-6 {
        margin-bottom: 60px;
    }

    .section-6 h1 {
        font-size: 2.3em;
    }
    .section-6 .contact-btn {
        margin-top: 100px;
    }

    .section-6 .icon-1{
        margin-top: -210px;
        left: -30px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: 0px;
        left: -50px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: -150px;
        left: -30px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -200px;
        left: 0px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -180px;
        left: -30px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -100px;
        left: 50px;
        width: 120px;
        height: 120px;
    }
    .section-6 .icon-7{
        margin-top: -180px;
        left: 80px;
        width: 130px;
        height: 130px;
    }
}
/* 635px */
@media screen and (min-width: 635px){
    .section-6 {
        margin-bottom: 70px;
    }

    .section-6 h1 {
        font-size: 3em;
    }
    .section-6 .contact-btn {
        margin-top: 70px;
    }
    .section-6 .icon-1{
        margin-top: -100px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-2{
        margin-top: 50px;
        left: -30px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-3{
        margin-top: -30px;
        left: 0px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-4{
        margin-top: -150px;
        left: 50px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-5{
        margin-top: 0px;
        left: 100px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -200px;
        left: 250px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -150px;
        left:  0;
        width: 150px;
        height: 150px;
    }
}
/* 640px */
@media screen and (min-width: 640px){
    .section-6 .icon-5{
        margin-top: 0px;
        left: 0px;
        width: 70px;
        height: 70px;
    }
}
/* 755px */
@media screen and (min-width: 755px){
    .section-6 {
        margin-bottom: 70px;
    }

    .section-6 h1 {
        font-size: 4em;
    }
    .section-6 .contact-btn {
        margin-top: 70px;
    }
    .section-6 .icon-1{
        margin-top: -70px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-2{
        margin-top: 100px;
        left: -0px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-3{
        margin-top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-4{
        margin-top: 100px;
        left: 0;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-5{
        margin-top: -10px;
        left: 100px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: 100px;
        left: 0;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -80px;
        left:  0;
        width: 150px;
        height: 150px;
    }
}

