.section5-whats-next{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.section5-whats-next .content{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    transition: all 0.5s ease;
}

.section5-whats-next .content h2{
    font-size: 3rem;
    font-family: "monserrat", sans-serif;
    transition: all 0.5s ease;
}

.section5-whats-next .content p{
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

@media screen  and (max-width: 425px){
    .section5-whats-next .content{
        padding: 15px;
    }

    .section5-whats-next .content h2{
        font-size: 2.2rem;
    }

    .section5-whats-next .content p{
        font-size: 1rem;
    }
}