.section6-welcome{
    position: relative;
    max-width: 1200px;
    margin: 70px auto;
}

.section6-welcome .welcome-content{
    position: relative;
    display: flex;   
    justify-content: center; 
    align-items: center;
    gap: 2rem;
}

.section6-welcome .welcome-content h2{
    font-size: 3rem;
    font-family: "monserrat", sans-serif;
    color: #0D47A1;
}

.section6-welcome .welcome-content p{
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #0D47A1;
}
.section6-welcome .welcome-content p span{
    font-size: 3rem;
    color: #0D47A1;
}

.section6-welcome .welcome-content img{
    position: relative;
    width: 444px;
    height: 325px;
    object-fit: contain;
}


@media screen and (max-width: 425px){
    .section6-welcome .welcome-content{
        flex-direction: column;
        padding: 15px;
    }

    .section6-welcome .welcome-content h2{
        font-size: 2.2rem;
    }

    .section6-welcome .welcome-content p{
        font-size: 1rem;
    }
    .section6-welcome .welcome-content p span{
        font-size: 2rem;
    }

    .section6-welcome .welcome-content img{
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (max-width: 768px){
    .section6-welcome .welcome-content{
        flex-direction: row;
        padding: 15px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .section6-welcome .welcome-content h2{
        font-size: 2.2rem;
    }

    .section6-welcome .welcome-content p{
        font-size: 1rem;
    }
    .section6-welcome .welcome-content p span{
        font-size: 2rem;
    }
    
    
}