.section-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #fbfbfb;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  padding: 100px 20px;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
  overflow: hidden;
}

.section-1:hover .floating-animation {
  display: block;
  transition: all 0.5s ease;
}

.section-1 h1 {
  font-size: 5em;
  font-weight: 800;
  color: #000;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
  font-family: "Monserrat", sans-serif;
  transition: all 0.5s ease;
}

.section-1 .highlight {
  color: #0d47a1;
  transition: all 0.5s ease;
}

.section-1 p {
  font-size: 1.1em;
  color: #0d47a1;
  margin-bottom: 2.5em;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.section-1 .contact-main_div {
  position: relative;
  margin: 0 auto;
  height: 65px;
  width: 250px;
  background: #0d47a1;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.1);
}

.section-1 .contact-main_div::before {
  content: "Contact Us";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all 0.4s linear;
}

.section-1 .contact-main_div:hover::before {
  left: -250px;
}

.section-1 .contact-main_div .social_media {
  position: absolute;
  top: 0;
  right: -250px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all 0.4s ease-in-out;
}

.section-1 .contact-main_div:hover .social_media {
  right: 0;
}

.section-1 .social_media i {
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s linear;
}

.section-1 .social_media i:hover {
  transform: scale(1.1);
}

/* Floating Animation */
.section-1 .floating-animation {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  pointer-events: none;
}

.section-1:hover .floating-animation {
  opacity: 1;
}

.section-1 .floating-animation img {
  position: relative;
  width: 207px;
  object-fit: cover;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.5s ease;
}

.section-1:hover .floating-animation img {
  opacity: 1;
  transform: translateX(0);
}

/* Add different delays for each image */
.section-1:hover .floating-animation .uiux {
  top: 20px;
  left: 40px;
  transition-delay: 0s;
}

.section-1:hover .floating-animation .app-dev {
  top: 240px;
  left: -50px;
  transition-delay: 0.1s;
}

.section-1:hover .floating-animation .mentorship {
  top: 400px;
  left: -350px;
  transition-delay: 0.2s;
}

.section-1:hover .floating-animation .software-dev {
  top: 430px;
  left: -130px;
  transition-delay: 0.3s;
}

.section-1:hover .floating-animation .ai-robotics-iot {
  top: 20px;
  left: 200px;
  transition-delay: 0.4s;
}

.section-1:hover .floating-animation .devops {
  top: 250px;
  left: 100px;
  transition-delay: 0.5s;
}

.section-1:hover .floating-animation .cloud-solutions {
  top: 400px;
  left: -200px;
  transition-delay: 0.6s;
}

/* Add exit animations */
.section-1 .floating-animation .uiux,
.section-1 .floating-animation .app-dev,
.section-1 .floating-animation .mentorship,
.section-1 .floating-animation .software-dev,
.section-1 .floating-animation .ai-robotics-iot,
.section-1 .floating-animation .devops,
.section-1 .floating-animation .cloud-solutions {
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .section-1 .floating-animation {
    display: none;
  }

  .section-1 .floating-animation .uiux,
  .section-1 .floating-animation .app-dev,
  .section-1 .floating-animation .mentorship,
  .section-1 .floating-animation .software-dev,
  .section-1 .floating-animation .ai-robotics-iot,
  .section-1 .floating-animation .devops,
  .section-1 .floating-animation .cloud-solutions {
    display: none;
  }
}

/* 320px */
@media screen and (min-width: 320px) {
  .section-1 .floating-animation img {
    width: 150px;
  }

  .section-1:hover .floating-animation .uiux {
    top: 10px;
    left: 0px;
  }

  .section-1:hover .floating-animation .app-dev {
    top: 50px;
    left: 0px;
  }

  .section-1:hover .floating-animation .mentorship {
    top: 150px;
    left: 0px;
  }

  .section-1:hover .floating-animation .software-dev {
    top: 280px;
    left: 0px;
  }

  .section-1:hover .floating-animation .ai-robotics-iot {
    top: 350px;
    left: 0px;
  }

  .section-1:hover .floating-animation .devops {
    top: 170px;
    left: -140px;
  }

  .section-1:hover .floating-animation .cloud-solutions {
    top: 350px;
    left: 80px;
  }
}

/* 375px */
@media screen and (min-width: 375px) {
  .section-1 .floating-animation img {
    width: 170px;
  }

  .section-1:hover .floating-animation .uiux {
    top: 10px;
    left: 0px;
  }

  .section-1:hover .floating-animation .app-dev {
    top: 50px;
    left: 0px;
  }

  .section-1:hover .floating-animation .mentorship {
    top: 150px;
    left: 0px;
  }

  .section-1:hover .floating-animation .software-dev {
    top: 280px;
    left: 0px;
  }

  .section-1:hover .floating-animation .ai-robotics-iot {
    top: 350px;
    left: 0px;
  }

  .section-1:hover .floating-animation .devops {
    top: 170px;
    left: -100px;
  }

  .section-1:hover .floating-animation .cloud-solutions {
    top: 350px;
    left: 80px;
  }
}

/* 425px */
@media screen and (min-width: 425px) {
  .section-1 .floating-animation img {
    width: 170px;
  }

  .section-1:hover .floating-animation .uiux {
    top: 10px;
    left: -20px;
  }

  .section-1:hover .floating-animation .app-dev {
    top: 50px;
    left: 0px;
  }

  .section-1:hover .floating-animation .mentorship {
    top: 180px;
    left: -20px;
  }

  .section-1:hover .floating-animation .software-dev {
    top: 320px;
    left: -100px;
  }

  .section-1:hover .floating-animation .ai-robotics-iot {
    top: 370px;
    left: 0px;
  }

  .section-1:hover .floating-animation .devops {
    top: 180px;
    left: 0px;
  }

  .section-1:hover .floating-animation .cloud-solutions {
    top: 370px;
    left: 100px;
  }
}

/* 768px */
@media screen and (min-width: 768px) {
  .section-1 .floating-animation img {
    width: 200px;
  }

  .section-1:hover .floating-animation .uiux {
    top: 20px;
    left: 40px;
  }

  .section-1:hover .floating-animation .app-dev {
    top: 240px;
    left: -220px;
    transition-delay: 0.1s;
  }

  .section-1:hover .floating-animation .mentorship {
    top: 450px;
    left: -400px;
    transition-delay: 0.2s;
  }

  .section-1:hover .floating-animation .software-dev {
    top: 400px;
    left: 300px;
    transition-delay: 0.3s;
  }

  .section-1:hover .floating-animation .ai-robotics-iot {
    top: -20px;
    left: 200px;
    transition-delay: 0.4s;
  }

  .section-1:hover .floating-animation .devops {
    top: 180px;
    left: 50px;
    transition-delay: 0.5s;
  }

  .section-1:hover .floating-animation .cloud-solutions {
    top: 250px;
    left: 230px;
    transition-delay: 0.6s;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .section-1:hover .floating-animation .uiux {
    top: 20px;
    left: 40px;
  }

  .section-1:hover .floating-animation .app-dev {
    top: 240px;
    left: -180px;
  }

  .section-1:hover .floating-animation .mentorship {
    top: 400px;
    left: -330px;
  }

  .section-1:hover .floating-animation .software-dev {
    top: 390px;
    left: 50px;
  }

  .section-1:hover .floating-animation .ai-robotics-iot {
    top: 20px;
    left: -50px;
  }

  .section-1:hover .floating-animation .devops {
    top: 180px;
    left: 450px;
  }

  .section-1:hover .floating-animation .cloud-solutions {
    top: 340px;
    left: -150px;
  }
}

/* 1440px */
@media screen and (min-width: 1440px) {
  .section-1:hover .floating-animation .uiux {
    top: 20px;
    left: 40px;
    transition-delay: 0s;
  }

  .section-1:hover .floating-animation .app-dev {
    top: 240px;
    left: -50px;
    transition-delay: 0.1s;
  }

  .section-1:hover .floating-animation .mentorship {
    top: 400px;
    left: -350px;
    transition-delay: 0.2s;
  }

  .section-1:hover .floating-animation .software-dev {
    top: 430px;
    left: -130px;
    transition-delay: 0.3s;
  }

  .section-1:hover .floating-animation .ai-robotics-iot {
    top: 20px;
    left: 200px;
    transition-delay: 0.4s;
  }

  .section-1:hover .floating-animation .devops {
    top: 250px;
    left: 100px;
    transition-delay: 0.5s;
  }

  .section-1:hover .floating-animation .cloud-solutions {
    top: 400px;
    left: -200px;
    transition-delay: 0.6s;
  }
}

/*== Client Section ===*/
.section-1 .clients-section {
  position: relative;
  margin-top: 100px;
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.section-1 .clients-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #181818f1;
  transition: all 0.5s ease;
}

.section-1 .clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 40px;
  transition: all 0.5s ease;
}

.section-1 .clients-list li {
  position: relative;
  display: flex;
  align-items: center;
  background: #0d48a11f;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.section-1 .bullet {
  font-size: 5em;
  color: #0d47a1;
  line-height: 0.5;
  flex-shrink: 0;
  margin-top: 5px;
  transition: all 0.5s ease;
}

.section-1 .client-name {
  font-size: 1.1rem;
  color: #0d47a1;
  text-align: left;
  transition: all 0.5s ease;
}

.section-1 .client-name .highlight {
  display: block;
  font-size: 0.9em;
  color: #0d47a1;
  margin-top: 1px;
  transition: all 0.5s ease;
}

/* 320px */
@media screen and (min-width: 320px) {
  .section-1 h1 {
    font-size: 3rem;
  }

  .section-1 .clients-list li {
    padding: 5px 20px 5px 20px;
    gap: 10px;
  }
}

/* 375px */
@media screen and (min-width: 375px) {
  .section-1 h1 {
    font-size: 3.5rem;
  }
}

/* 425px */
@media screen and (min-width: 425px) {
  .section-1 h1 {
    font-size: 4rem;
  }
}

/* 768px */
@media screen and (min-width: 768px) {
  .section-1 h1 {
    font-size: 4.5rem;
  }

  .section-1 .clients-list li {
    padding: 10px 20px 10px 20px;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .section-1 h1 {
    font-size: 5rem;
  }
}

/* 1440px */
@media screen and (min-width: 1440px) {
  .section-1 h1 {
    font-size: 6rem;
  }
}

/*========== Cards ============*/
.section-1 .services {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  padding: 1rem;
  transition: all 0.5s ease;
}

.section-1 .service-card {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 500px;
  height: 500px;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

.section-1 .service-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-1 .service-link img {
  margin-right: auto;
}

.section-1 .service-card .arrow-white {
  display: none;
}

.section-1 .service-card:hover {
  background-color: #0d47a1;
  color: #fff;
  border-color: #0d47a1;
  border-top-right-radius: 7rem;
  transform: scaleX(1.1);
}

.section-1 .service-card:hover .service-title {
  color: #fff;
}

.section-1 .service-card:hover .service-description {
  color: #fff;
}

.section-1 .service-card:hover .arrow-black {
  display: none;
}

.section-1 .service-card:hover .arrow-white {
  display: block;
  width: 40x;
  height: 40px;
}

.section-1 .service-card .icon {
  width: 48px;
  height: 48px;
  margin-bottom: 1.5rem;
  color: #0066cc;
  transition: all 0.5s ease;
}

.section-1 .service-title {
  font-size: 1.8rem;
  font-weight: 550;
  margin-bottom: 1.5rem;
  margin-top: 1.5em;
  color: #000;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}

.section-1 .service-description {
  color: #181818;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}

.service-link svg {
  margin-left: 0.5rem;
  width: 20px;
  height: 20px;
  transition: all 0.5s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .section-1 .services {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .section-1 .service-card {
    padding: 1.5rem;
  }

  .section-1 .service-card .icon {
    width: 40px;
    height: 40px;
  }
}

/* 320px */
@media screen and (min-width: 320px) {
  .section-1 .service-title {
    margin-bottom: 1rem;
    margin-top: 1em;
  }
}
