
.section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: all 0.5s ease;
}

.section-6 .container {
    padding: 20px;
    transition: all 0.5s ease;
}

.section-6 h1 {
    font-size: 4em;
    line-height: 1.4;
    color: #000;
    transition: all 0.5s ease;
}
.section-6 h1 span{
    color: #0D47A1;
    transition: all 0.5s ease;
}

.section-6 .blue {
    color: #1a73e8;
    transition: all 0.5s ease;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.section-6 .contact-main_div {
  position: relative;
  margin: 0 auto;
  height: 65px;
  width: 250px;
  background: #0d47a1;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.1);
}

.section-6 .contact-main_div::before {
  content: "Contact Us";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all 0.4s linear;
}

.section-6 .contact-main_div:hover::before {
  left: -250px;
}

.section-6 .contact-main_div .social_media {
  position: absolute;
  top: 0;
  right: -250px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all 0.4s ease-in-out;
}

.section-6 .contact-main_div:hover .social_media {
  right: 0;
}

.section-6 .social_media i {
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s linear;
}

.section-6 .social_media i:hover {
  transform: scale(1.1);
}

.section-6 .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.section-6 .icon {
    position: relative;
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
}
.section-6 .icon:hover{
    transform: translateY(-5px);
    transition: all 0.5s ease;
}

.section-6 .icon-1{
    margin-top: -70px;
    width: 150px;
    height: 150px;
}
.section-6 .icon-2{
    margin-top: 100px;
    margin-left: -80px;
    width: 150px;
    height: 150px;
}
.section-6 .icon-4{
    margin-top: 100px;
    width: 150px;
    height: 150px;
}
.section-6 .icon-6{
    margin-top: 100px;
    width: 100px;
    height: 100px;
}
.section-6 .icon-7{
    margin-top: -80px;
    width: 150px;
    height: 150px;
}


/* 320px */
@media screen and (min-width: 320px) {
    .section-6 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section-6 h1 {
        font-size: 1.7em;
    }
    .section-6 .contact-main_div {
        margin-top: 100px;
    }

    .section-6 .icon-1{
        margin-top: -220px;
        left: -40px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: 0px;
        left: -80px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: 30px;
        left: 20px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -320px;
        left: 110px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -280px;
        left: -100px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -70px;
        left: 70px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -170px;
        left: 20px;
        width: 130px;
        height: 130px;
    }
}
/* 350px */
@media screen and (min-width: 350px) {
    .section-6 {
        margin-bottom: 30px;
    }

    .section-6 h1 {
        font-size: 2em;
    }
    .section-6 .contact-main_div {
        margin-top: 120px;
    }

    .section-6 .icon-1{
        margin-top: -230px;
        left: -70px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: -0px;
        left: -120px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: -0px;
        left: 50px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -330px;
        left: 200px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -300px;
        left: -20px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -50px;
        left: -10px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -200px;
        left: 0px;
        width: 130px;
        height: 130px;
    }
}
/* 415px */
@media screen and (min-width: 415px) {
    .section-6 {
        margin-bottom: 60px;
    }

    .section-6 h1 {
        font-size: 2.3em;
    }
    .section-6 .contact-main_div {
        margin-top: 100px;
    }

    .section-6 .icon-1{
        margin-top: -210px;
        left: 0px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: -0px;
        left: -70px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: -50px;
        left: 150px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -330px;
        left: 200px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -300px;
        left: 200px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -50px;
        left: -10px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -100px;
        left: 0px;
        width: 130px;
        height: 130px;
    }
}
/* 500px */
@media screen and (min-width: 500px){
    .section-6 {
        margin-bottom: 60px;
    }

    .section-6 h1 {
        font-size: 2.3em;
    }
    .section-6 .contact-main_div {
        margin-top: 100px;
    }

    .section-6 .icon-1{
        margin-top: -210px;
        left: -30px;
        width: 130px;
        height: 130px;
    }
    .section-6 .icon-2{
        margin-top: 0px;
        left: -50px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-3{
        margin-top: -150px;
        left: -30px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-4{
        margin-top: -200px;
        left: 0px;
        width: 110px;
        height: 110px;
    }
    .section-6 .icon-5{
        margin-top: -180px;
        left: -30px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -100px;
        left: 50px;
        width: 120px;
        height: 120px;
    }
    .section-6 .icon-7{
        margin-top: -180px;
        left: 80px;
        width: 130px;
        height: 130px;
    }
}
/* 635px */
@media screen and (min-width: 635px){
    .section-6 {
        margin-bottom: 70px;
    }

    .section-6 h1 {
        font-size: 3em;
    }
    .section-6 .contact-main_div {
        margin-top: 70px;
    }
    .section-6 .icon-1{
        margin-top: -100px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-2{
        margin-top: 50px;
        left: -30px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-3{
        margin-top: -30px;
        left: 0px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-4{
        margin-top: -150px;
        left: 50px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-5{
        margin-top: 0px;
        left: 100px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: -200px;
        left: 250px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -150px;
        left:  0;
        width: 150px;
        height: 150px;
    }
}
/* 640px */
@media screen and (min-width: 640px){
    .section-6 .icon-5{
        margin-top: 0px;
        left: 0px;
        width: 70px;
        height: 70px;
    }
}
/* 755px */
@media screen and (min-width: 755px){
    .section-6 {
        margin-bottom: 0px;
    }

    .section-6 h1 {
        font-size: 4em;
    }
    .section-6 .contact-main_div{
        margin-top: 70px;
    }
    .section-6 .icon-1{
        margin-top: -70px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-2{
        margin-top: 100px;
        left: -0px;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-3{
        margin-top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-4{
        margin-top: 100px;
        left: 0;
        width: 150px;
        height: 150px;
    }
    .section-6 .icon-5{
        margin-top: -10px;
        left: 100px;
        width: 70px;
        height: 70px;
    }
    .section-6 .icon-6{
        margin-top: 100px;
        left: 0;
        width: 100px;
        height: 100px;
    }
    .section-6 .icon-7{
        margin-top: -80px;
        left:  0;
        width: 150px;
        height: 150px;
    }
}

